// fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$primary-font: "Plus Jakarta Sans", sans-serif;
$secondary-font: "Inter", sans-serif;

// colors
$primary-color: #34caa5;

$white-map: (
  default: #fff,
  100: #f7f8fa,
  200: #f8f8f8,
);

$black-map: (
  default: #26282c,
);

$neutral-map: (
  400: #a3a3a3,
);
